div.nano-annotate {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


div.nano-annotate div.nano-data-holder {
    flex: 2;
    background-color: magenta;
    display: flex;
    flex-direction: row;
}

div.nano-annotate div.nano-data-holder div{
    flex: 1;
}

div.nano-annotate div.nano-data-holder div.nano-data-controls {
  max-width: 50px;
}

div.nano-annotate div.nano-data-holder div.nano-data-controls> * {
  flex: 1;
  height: 100%;
  width: 100%;
}

div.nano-annotate div.nano-io-holder {
    flex: 1;
    background-color: cyan;
    display: flex;
    flex-direction: column;
}


div.nano-annotate div.nano-io-holder div {
    flex: 1;
    background-color: green;
    display: flex;
    flex-direction: row;
}


div.nano-annotate div.nano-io-holder div > *{
    flex: 1;
}


div.nano-annotate div.nano-io-holder div > textarea{
    resize: none;
}


div.nano-annotate div.nano-io-holder div.nano-io-controls {
    max-height: 50px;    
}


div.nano-annotate div.nano-data-holder div.p-DataGrid {
    width: 100%;
    height: 100%;
    border: 1px solid #A0A0A0;
}


div.nano-annotate div.nano-data div.p-DataGrid-scrollCorner {
  background-color: #F0F0F0;
}


div.nano-annotate div.nano-data div.p-DataGrid-scrollCorner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #A0A0A0;
}
