div.nano-annotate {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mark {
  background-color: rgba(255, 0, 255, .3);
}

div.nano-annotate div.nano-data-holder {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

div.nano-annotate div.nano-data-holder > div{
  flex: 1;
}

div.nano-annotate div.nano-io-holder {
  flex: 1;
  display: flex;
  flex-direction: column;
}


div.nano-annotate div.nano-io-holder > div {
  flex: 1;
  display: flex;
  flex-direction: row;
}


div.nano-annotate div.nano-io-holder div > *{
  flex: 1;
}


div.nano-annotate div.nano-io-holder div > textarea{
  resize: none;
}

div.nano-annotate div.nano-io-holder div.nano-controls-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding:5px;
  padding-bottom:20px;
  overflow: scroll;
}

div.nano-annotate div.nano-io-holder div.nano-controls-options > div{
  flex: 1;
  align-self: center;
  min-width: 15%;
  flex-grow: 0;
  padding: 5px;
}

div.nano-annotate div.nano-io-holder div.nano-controls-options > div:hover{
  background-color: #ddd;

}

div.nano-annotate div.nano-io-holder div.nano-controls-buttons {
  max-height: 50px;    
}

div.nano-annotate div.nano-io-holder div.nano-controls-buttons div {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

div.nano-annotate div.nano-io-holder div.nano-controls-buttons div:hover {
  background-color: #ddd;
}

div.nano-annotate div.nano-data-holder div.p-DataGrid {
  width: 100%;
  height: 100%;
  border: 1px solid #A0A0A0;
}

div.nano-annotate div.nano-data-holder div.TextData {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow:visible;
  padding: 50px;
}

div.nano-annotate div.nano-data-holder div.TextData p.data{
  border-collapse: collapse;
  overflow:visible;
}

div.nano-annotate div.nano-data-holder div.TextData p.data > span {
  height:15px;
}

/*
span.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

span.tooltip span.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  overflow: overlay; 
  top: 100%;
  left: 50%; 
  margin-left: -60px;

  padding:5px;

  position: absolute;
  z-index: 1;
}

span.tooltip:hover span.tooltiptext {
  visibility: visible;
}
*/

div.nano-annotate div.nano-data-holder div.TextData p.data > span:hover,
div.nano-annotate div.nano-data-holder div.TextData p.data mark > span:hover{
  color: grey;
}

div.nano-annotate div.nano-data-holder div.TextData p.data span.word span.annotation:hover{
  color: red;
}

div.nano-annotate div.nano-data-holder div.TextData p.data span.word.selected-word {
  color: blue;
}
div.nano-annotate div.nano-data-holder div.TextData p.data span.word.selected-phrase {
  color: magenta;
}

div.nano-annotate div.nano-data-holder div.TextData p.data span.word {
  font-weight: bold;
}


div.nano-annotate div.nano-data-holder div.TextData p.data span.annotation {
  font-style: italic;
  font-size: 10px;
  padding:2px;
  color: blue;
}

div.nano-annotate div.nano-data-holder div.TextData span.annotation.paragraph-annotation {
  color: green;
}

div.nano-annotate div.nano-data-holder div.TextData p.data span.annotation.phrase-annotation {
  color: purple;
}

div.nano-annotate div.nano-data div.p-DataGrid-scrollCorner {
  background-color: #F0F0F0;
}


div.nano-annotate div.nano-data div.p-DataGrid-scrollCorner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #A0A0A0;
}
